* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;

}

aside {
    width: 15%;
    height: calc(100vh - 100px);
    background-color: #1a1801;
    float: left;
    color: white;
    font-size: 14px;
}

span::after {
    border-bottom: 1px solid white;
    content: "";
}

#menu-nav-aside a, #download-app a, #profilo a, #recenti {
    color: lightgrey;
    text-decoration: none;
}

#menu-nav-aside li {
    margin: 10px 0;
}

.active {
    border-left: 3px solid #1dd961;
}

main {
    width: 85%;
    height: calc(100vh - 100px);
    /* background-color: lightgreen; */
    float: left;
    background: linear-gradient(140deg, rgba(2,0,36,1) 0%, rgba(103,9,121,1) 100%);
    overflow-y: auto;
}



.container {
    /* background-color: white; */
    height: 100%;
    width: 75%;
    margin: auto;
    padding: 30px;
    color: whitesmoke;
}

.container-aside {
    width: 85%;
    height: 100%;
    margin: auto;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-container {
    text-align: center;
    width: 100%
}


ul {
    list-style-type: none;
}

.menu-container ul {
    list-style-type: none;
}

.menu-container li {
    text-transform: uppercase;
    display: inline;
}

.menu-container a {
    padding: 0 15px;
    color: lightgrey;
    text-decoration: none;
}

footer {
    height: 100px;
    background-color: #282828;
    width: 100%;
    float: left;
    color: #dedede;
}

section {
    float: left;
    padding: 20px 0;
}

.galleria {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}

.artist, .album {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.playlist {
    width: 100%;
    height: 100%;
}

.cover-sound {
    width: 150px;
    height: 150px;
}

.cover-play {
    width: 50px;
    height: 50px;
}

.content-box {
    float: left;
    padding-right: 39px;
    text-align: center;
    margin-bottom: 30px;
}

.name {
    color: lightgrey;
}

.now-playing-bar {
    width: 100%;
    margin: auto;
    height: 100%;
    display: flex;
}

.now-playing-bar-left {
    /* float: left; */
    /* background: aqua; */
    /* width: 20%;
    height: 100%; */
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    width: 20%;
}

.cover-play {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-play {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.favorite {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.now-playing-bar-center {
    /* float: left; */
    /* background: red; */
    /* width: 60%;
    height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

.control-player, .time-bar-player {
    display: flex;
    justify-content: center;
}

.now-playing-bar-right {
    /* float: left; */
    /* background: blue; */
    /* width: 20%;
    height: 100%; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 20%;
}

.now-playing-bar-right i, .now-playing-bar-center i {
    padding: 10px;
}

.time {
    margin: 0 10px;
}

#logo, #menu-nav-aside, #recenti {
    margin-bottom: 20px;
}

#download-app, #profilo, dl {
    margin: 10px 0;
}

dt {
    margin-bottom: 10px;
}

svg {
    vertical-align: middle;
    margin-right: 10px;
}

.aside-bottom i {
    margin-right: 10px;
}

.dropdown {
    display: none;
}

@media screen and (max-width: 768px) {
    .info-play {
        display: none;
    }

    .dropdown {
        display: block;
    }

    .menu-container {
        display: none;
    }
}
