* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

aside {
    width: 15%;
    height: calc(100vh - 100px);
    background-color: #1a1801;
    float: left;
    color: white;
}

aside svg {
    fill: white;
}

main {
    width: 85%;
    height: calc(100vh - 100px);
    /* background-color: lightgreen; */
    float: left;
    background: linear-gradient(140deg, rgba(2,0,36,1) 0%, rgba(103,9,121,1) 100%);
    
}



.container {
    /* background-color: white; */
    height: 100%;
    width: 75%;
    margin: auto;
    padding: 30px;
    color: whitesmoke;
}

.menu-container {
    text-align: center;
    width: 100%
}


.menu-container ul {
    list-style-type: none;
}

.menu-container li {
    text-transform: uppercase;
    display: inline;
}

.menu-container a {
    padding: 0 15px;
    color: lightgrey;
    text-decoration: none;
}

footer {
    height: 100px;
    background-color: #282828;
    width: 100%;
    float: left;
}

section {
    float: left;
    padding: 20px 0;
}

.artist, .album {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.playlist {
    width: 100%;
    height: 100%;
}

.cover-sound {
    width: 150px;
    height: 150px;
}

.content-box {
    float: left;
    margin: 10px;
    text-align: center;
}

.name {
    color: lightgrey;
}
